@font-face {
    font-family: 'pt_sans';
    src: url('fonts/pt-sans-webfont.eot');
    src: url('fonts/pt-sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pt-sans-webfont.woff2') format('woff2'),
         url('fonts/pt-sans-webfont.woff') format('woff'),
         url('fonts/pt-sans-webfont.ttf') format('truetype'),
         url('fonts/pt-sans-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_serif';
    src: url('fonts/droidserif-webfont.eot');
    src: url('fonts/droidserif-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidserif-webfont.woff2') format('woff2'),
         url('fonts/droidserif-webfont.woff') format('woff'),
         url('fonts/droidserif-webfont.ttf') format('truetype'),
         url('fonts/droidserif-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	margin:0; padding:0;
}
body{
	width:100%;
	border-top:5px solid #d7a229;
	background:#ebebeb url(images/body-bgr.png) top left;
	color:#333; line-height:1.8;	
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
img{
	border:0; line-height:0;
}
ul{
	list-style:none;
}
	.carcas{
		width:1000px; margin:0 auto; overflow:hidden; background:#fff;
	}
		.header-wrapper{
			background:url(images/header-bgr.png) top left;
		}
			.header{
				width:940px; margin:0 auto; overflow:hidden; font-family:Droid serif;
			}
				.header-logo{
					float:left; margin:40px 0 40px 0;
				}
				.header-right{
					float:right; overflow:hidden; position:relative;
				}
					.header-login{
						background:#d7a229; padding:5px 10px; border-radius:0 0 3px 3px; text-align:right;position:absolute; right:0;
						font-family:droid_serif; font-weight:bold; font-style:italic;
					}
						.header-login a{
						color:#333333; font-size:12px;
						}	
				.header-cont{
					float:right;font-weight:bold; color:#d4d4d4; padding-top:40px; font-size:13px; 
				}
					.header-cont a{
						font-weight:bold; color:#d4d4d4;
					}
					.header-cont img{
						vertical-align:baseline; margin-right:7px;
					}
				.header-social{
					clear:right;float:right;
				}
					.header-social img{
						margin:7px 0 0 7px;
					}

				.header-menu{font-family:droid_serif; text-shadow:1px -1px 1px #000000; 
					clear:both; width:100%;float:left;overflow:hidden;
					clear:both; width:100%;float:left;overflow:hidden;
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#696c6d+0,373b3d+100 */
					background: rgb(105,108,109); /* Old browsers */
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY5NmM2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNzNiM2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background: -moz-linear-gradient(top,  rgba(105,108,109,1) 0%, rgba(55,59,61,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(105,108,109,1)), color-stop(100%,rgba(55,59,61,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(105,108,109,1) 0%,rgba(55,59,61,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(105,108,109,1) 0%,rgba(55,59,61,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(105,108,109,1) 0%,rgba(55,59,61,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(105,108,109,1) 0%,rgba(55,59,61,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696c6d', endColorstr='#373b3d',GradientType=0 ); /* IE6-8 */
					border-top:1px solid #4a4e50;
					border-left:1px solid #4a4e50;
					border-right:1px solid #4a4e50;
					border-radius:5px 5px 0 0;
				}
					.header-menu ul{
						float:left;
					}
						.header-menu li{
							float:left; font-size:12px;
							border-right:1px solid #2c3031;border-left:1px solid #43484a;position: relative; top: 0px; 
						}
						.header-menu li:first-child{
							border-left:none;
						}
						.header-menu li:last-child{
							border-right:none;
						}
						.header-menu li a{
							color:#ffffff; padding:17px 18px;display:block;
						border-bottom:4px solid #383c3e;
							}
						.header-menu li a:hover{
							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5f6568+0,252728+100 */
							background: rgb(95,101,104); /* Old browsers */
							/* IE9 SVG, needs conditional override of 'filter' to 'none' */
							background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVmNjU2OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTI3MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
							background: -moz-linear-gradient(top,  rgba(95,101,104,1) 0%, rgba(37,39,40,1) 100%); /* FF3.6+ */
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(95,101,104,1)), color-stop(100%,rgba(37,39,40,1))); /* Chrome,Safari4+ */
							background: -webkit-linear-gradient(top,  rgba(95,101,104,1) 0%,rgba(37,39,40,1) 100%); /* Chrome10+,Safari5.1+ */
							background: -o-linear-gradient(top,  rgba(95,101,104,1) 0%,rgba(37,39,40,1) 100%); /* Opera 11.10+ */
							background: -ms-linear-gradient(top,  rgba(95,101,104,1) 0%,rgba(37,39,40,1) 100%); /* IE10+ */
							background: linear-gradient(to bottom,  rgba(95,101,104,1) 0%,rgba(37,39,40,1) 100%); /* W3C */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f6568', endColorstr='#252728',GradientType=0 ); /* IE6-8 */
							border-bottom:4px solid #d29624; border-top:#44484a;
							text-decoration:none;	
							
						}
					.header-menu-search{
						float:right; overflow:hidden;margin: 15px 5px ;
					}
						.header-menu-search form input[type="text"]{
						float:left; width:150px; border-bottom:2px solid #b0b1b2; 
						padding:5px 0;	
						border-top:1px solid #8c8c8c;
						border-left:1px solid #8c8c8c;
						border-right:1px solid #8c8c8c;
						border-radius:10px; font-size:12px;
						color:#b0b1b2; padding-left:5px;
						outline:none;
						}
						.header-menu-search form input[type="image"]{
						float:right; margin-left:5px; vertical-align:middle;
						}
		
		.slide-content {
			width:500px!important;top:60px!important; margin-left:85px; position:absolute; overflow:hidden; line-height:1.4;
			}
			.slide-content h2{
				font-size:34px; font-family:droid_serif; font-style:regular; padding-bottom:20px;
			}
			.slide-content h3{
				font-size:22px; color:#d7a229; font-family:pt_sans; font-style:regular; padding-bottom:20px;
			}
			.slide-content p{
				font-size:12px; color:#464646; font-family:pt_sans; font-style:regular; padding-bottom:30px;line-height:1.8;
			}
				.slide-content img{
					width:173px!important;
				}
		.underslider{
			padding:50px 30px; overflow:hidden;background:url(images/underslider-br.png);
		}	
			.underslider h2{
				font-size:24px; font-family:droid_serif;color:#333333; margin-bottom:20px;
			}			
			.underslider p{
				font-size:13px; color:#252525; font-family:pt_sans;
			}
		.content{
			border-bottom:5px solid #d7a229; background: url(images/underslider-br.png) repeat-x left bottom;padding-bottom:10px;font-family:pt_sans;font-size:13px;overflow:hidden;
		}
			.category{
				overflow:hidden; margin-top:60px; padding:50px 30px;
			}
				.category div{
					float:left;margin-left:20px; width:220px;
				}
				.category div:first-child{
					float:right;margin-left:0;
				}
					.category div h3{
						margin-right:20px;font-size:16px; font-family:droid_serif; margin-bottom:25px; 
						background:url(images/underslider-br.png) repeat-x 0 12px; 
					}	
					.category div h3 span{		
						background:#ffffff;padding-right:10px;
					}
			.latest-work{
			text-align:center; font-size:24px;font-family:droid_serif; background:url(images/underslider-br.png) repeat-x 0 20px; position:relative;width:940px; margin-left:30px;
			}
				.latest-work-h1{
					background:#fff; padding:0 20px; font-size:24px; color:#333;
				}
				.latest-work-all-portfolio a{
					text-align:right; position:absolute; right:0px;background:#fff; color:#d7a229; font-size:13px; font-family:pt_sans; font-style:italic; top:13px; padding-left:10px;
				}
			.latest-works{
				overflow:hidden; margin-top:50px; padding:0px 30px; display:block;
			}
				.my-latest-work:first-child{
				width:212px; float:left; margin-left:0px;
				}				
				.my-latest-work{
					width:212px; float:left; margin-left:30px; 
				}
				.my-latest-work:last-child{
					width:210px; float:right; margin-right:0px; 
				}
